.logo-footer img{
    width: 150px;
}

footer {
    margin: auto;
    font-family: 'Montserrat';
}

#footer-content {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    justify-content: space-between;
}

.f-footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ed6a4c;
}



#footer-content div{
    margin: auto;
    padding: 30px 75px 30px 75px;
}




