.section2-grap {
    max-width: 1200px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
}

.section2 {
    display: flex;
}

.int2-sec1 {
    width: 36%;
    margin: auto;
    padding: 60px;
}

.subHeader {
    color: #ed6a4c;
    margin: 0px;
    font-size: 17px;
}

.int2-sec1 p{
    font-size: 17px;
    font-weight: 500;
}

.int2-sec2 img{
    width: 570px;
}

p.titulo {
    margin: 0px;
    font-size: 50px;
    font-weight: 900;
}

p.titulo-d{
    margin-top: 0px;
    font-size: 50px;
    font-weight: 900;
    color: #ed6a4c;
}

.int2-sec2 {
    display: flex;
    flex-direction: column;
    width: 31%;
}

.int2-sec2 div{
    padding: 30px;
    border-radius: 10px;
    color: white;
    background: #ed6a4c;
    margin: 30px;
    text-align: center;
    height: 175px;
    
}
h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}

.int2-sec2 p {
    font-size: 14px;
}

.int2-sec3 {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.int2-sec3 div{
    padding: 30px;
    border-radius: 10px;
    color: white;
    background: #ed6a4c;
    margin: 30px;
    text-align: center;
    height: 175px;
    
}

.int2-sec3 p {
    font-size: 14px;
}